*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  margin-top: 50px;
}
.btn{
  margin-top: 44px;
  margin-left: 80%;
  
}
body{
  background-image: url(650818eba782ab1ab7edd692_bg.png);
  background-size: cover;
  height: 600px;
}
.image{
    width: 24px;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
    background-color: #151a22;
    border-radius: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.container h1{ 
  font-size: 80px;
  font-weight:bold ;
  text-align: center;
}
.text{
  text-align: center;
  font-size: 20px;
}
#email{
  height: 48px;
    border: 1px solid rgba(126, 135, 148, .32);
    border-radius: 8px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 24px;
    width: 30%;
    height: 38px;
    color: #333;
    
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block
}
.parent{
  display: flex;
}

.hiringlink {
  margin-top: 100px;
  grid-column-gap: 8px;
  color: #151a22;
  background-color: #fff;
  border: 1px solid #e6ecf5;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
  transition: background-color .3s;
  display: flex;
}
.paragraph {
  width: 555px;
}
a {
  background-color: rgba(0, 0, 0, 0);
}
* {
  box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.container.hero {
  grid-row-gap: 24px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.inp{
  height: 45px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  background-color: rgb(241, 239, 239);
  text-transform: capitalize;
  width: 320px;
  margin-left: 300px;
}
.button{
  margin-bottom: 40px;
  background-color:#151a22;
  color: white;
  height:45px;
  margin-left: 10px;
  background-color: #151A22;
  border: 2px solid white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* padding: 12px 20px; */
  width: 130px;
  height: 50px;
  text-align: center;
  color: white;
}
.button2{
  background-color: #151A22;
  border: 2px solid white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* padding: 12px 20px; */
  width: 130px;
  height: 50px;
  text-align: center;
  color: white;
}

.div{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;

  font-size:20px ;
  padding-top: 50px;
  padding-bottom: 30px;
  width:100%;
  height: 100%;
  background-color:#FFFFFF;
  color: black;
  border: 1px solid #E6ECF5;
  border-radius: 20px;
  font-weight: 400;
  line-height: 30px;
}
.sec2{
    background-color: #151A22;
    height: 600px;
    background-image: url(gaming\ image.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: top;
    border-radius: 20px;
}
.image1{
    padding-top: 40px;
}
.image2{
    padding-top: 20px;
}
.image3{
    padding-left: 10px;
    margin-top: -4px;
}
.h1{
    color: white;
    font-size: 38px !important;
    text-align: center;
    padding-top: 20px;
}
.h2{
    font-size: 38px !important;
    background: linear-gradient(to right, #7191FF 0%, #D97CCC 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.para1{
    color: rgb(215, 214, 214);
    text-align: center;
    font-size: 17px;
}
.para2{
    color: rgb(215, 214, 214);
    font-size: 17px;
    text-align: left;
    padding-top: 30px;
    margin-left: -30px;
    letter-spacing: 3px; 
}
.para3{
    padding-left: 7px;
    color: rgb(215, 214, 214);
    text-align: center;
    font-size: 17px;
}
.para4{
    text-align: left !important;
    margin-left: -10px;
    background-color: #1F2631;
    border: 1px solid #384d71;
    width: 550px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
}
.para5{
    margin-top: 23px;
    text-align: left !important;
    margin-left: -10px;
    background-color: #1F2631;
    border: 1px solid #384d71;
    width: 550px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
}
.sec3{
    border-radius: 20px;
    margin-top: 40px !important;
    width: 730px;
    height: 300px;
    background-color: #1E2530;
}
.sec4{
    padding-top: 20px;
    background-color: #151A22;
    height: 210px;
    width: 600px;
    margin-right: -70px;
    border-radius: 10px;
}